@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa.woff") format("woff"),
    url("./fonts/Comfortaa.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.woff") format("woff"),
    url("./fonts/Roboto.ttf") format("truetype");
}
:root {
  --markColor: #235b03;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, rgb(204, 0, 0), rgb(249, 188, 6));
  overflow-y: hidden;
}

.green {
  color: var(--markColor);
}

.underline {
  text-decoration: underline;
}

.header h1 {
  color: white;
  font-family: Comfortaa;
  font-size: 8rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.app h1 {
  font-size: 6rem;
}

.header h2 {
  color: white;
  font-family: Roboto;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.app h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.header p {
  color: white;
  font-family: Roboto;
  font-size: 2rem;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.wrapper {
  cursor: default;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.picDiv {
  display: flex;
  justify-content: center;
}

.cocktailPic {
  width: 325px;
  height: 325px;
  border-radius: 50%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.ingredients {
  /*background-color: rgba(0, 0, 0, 0.1);*/
  padding-top: 10rem;
  padding-left: 5rem;
}

.ingredients h1 {
  font-family: Comfortaa;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.ingredients ul {
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 3rem;
}

.ingredients h2 {
  padding-top: 2rem;
  font-family: Roboto;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.instructions {
  /*background-color: rgba(0, 0, 0, 0.1);*/
  padding-top: 10rem;
  padding-left: 4rem;
  padding-right: 5rem;
}

.instructions h1 {
  font-family: Comfortaa;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.instructions h2 {
  padding-top: 2rem;
  font-family: Roboto;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.instructions p {
  font-family: Roboto;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  text-align: start;
  line-height: 2.2rem;
}

.buttonDiv a {
  cursor: default;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0rem;
}

button {
  background-color: var(--markColor);
  border-radius: 50%;
  align-items: center;
  width: 10rem;
  height: 10rem;
  margin-top: 4rem;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.app button {
  width: 7rem;
  height: 7rem;
  outline: none;
  margin-top: 2rem;
}

button:active {
  transform: translateY(5px);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

button img {
  width: 80%;
  height: 80%;
  animation: shake 0.6s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

@media (max-width: 700px) {
  .header h1 {
    font-size: 6rem;
  }
  .header p {
    width: 80%;
  }
  .start button {
    margin-top: 5rem;
  }
}
