@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa.woff") format("woff"),
    url("./fonts/Comfortaa.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto.woff") format("woff"),
    url("./fonts/Roboto.ttf") format("truetype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* html,body{overflow-y: scroll; }*/
body {
  height: 100vh;
  background: linear-gradient(to right, rgb(204, 0, 0), rgb(249, 188, 6));
  overflow-y: hidden;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 100px;
}

.header h1 {
  color: white;
  font-family: Comfortaa;
  font-size: 8rem;
  text-align: center;
  margin-top: 3rem;
}

.header h2 {
  color: white;
  font-family: Roboto;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}

.card {
  padding: 0.2rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card h1 {
  color: black;
  font-family: Comfortaa;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem;
}

.card img {
}
